img {
  height: 2in;
}
hr {
  width: 100px;
  border-style: dotted none none none;
  border-width: 5px;
  border-top-color: cadetblue;
}
h1 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
